@import url('https://fonts.googleapis.com/css2?family=Verdana:wght@400;700&display=swap');

body {
    background: #F1EFD2;
    margin: 0;
    font-family: Verdana, sans-serif;
    color: #5A4329;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #145C1E;
    padding: 15px 25px;
    color: white;
}

.logo {
    font-family: "Shadow Of The Deads", serif;
    font-size: 2rem;
    letter-spacing: 2px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

nav a:hover {
    opacity: 0.8;
}

.hero {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('hero.jpg');
    background-size: cover;
    background-position: center;
    padding: 90px 20px;
    text-align: center;
}

.hero h1 {
    font-family: "Shadow Of The Deads", serif;
    font-size: 3rem;
    color: white;
}

.about {
    max-width: 900px;
    margin: auto;
    padding: 30px 20px;
}

.about h2 {
    font-family: "JMH Typewriter Dry", serif;
    font-size: 2rem;
    margin-bottom: 25px;
}

.bio {
    margin-bottom: 40px;
}

.bio h3 {
    font-family: "Elegant Typewriter", serif;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.bio p {
    line-height: 1.6;
    font-size: 1rem;
}

footer {
    text-align: center;
    padding: 25px;
    background: #145C1E;
    color: white;
    margin-top: 40px;
}

footer a {
    color: #F1EFD2;
    text-decoration: none;
}

footer a:hover {
    opacity: 0.7;
}

.page-title {
    text-align: center;
    font-family: "JMH Typewriter Dry", serif;
    margin-top: 30px;
    font-size: 2rem;
}

.bestiary-grid {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    padding: 30px 20px 60px;
}

.card {
    background: #6BA64D;
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.img-placeholder {
    background: #145C1E;
    height: 170px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.card h3 {
    font-family: "JMH Typewriter Dry", serif;
    font-size: 1.3rem;
}

.soon {
    background: #5A4329;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry-title {
    text-align: center;
    font-family: "JMH Typewriter Dry", serif;
    margin-top: 30px;
    font-size: 2rem;
}

.entry-top {
    max-width: 1100px;
    margin: 35px auto;
    display: flex;
    gap: 25px;
    padding: 0 20px;
}

.entry-imgage {
    flex: 1;
    height: 340px;
    background: #145C1E;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
.entry-map {
    flex: 0.8;
    height: 340px;
    background: #6BA64D;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.map-notes {
    text-align: center;
    max-width: 900px;
    margin: auto;
    font-size: 1rem;
    padding: 15px 20px;
    line-height: 1.5;
}

.bio-section,
.encounter {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.bio-section h2,
.encounter h2 {
    font-family: "JMH Typewriter Dry", serif;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.gw-text {
    font-family: "Elegant Typewriter", serif;
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 20px;
}

.dr-text {
    font-family: "King", serif;
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 20px;
}

.derek-text {
    font-family: "Rough Typewriter", serif;
    font-size: 1rem;
    line-height: 1.7;
}

/* Image Design */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


@media (max-width: 800px) {
    .entry-top {
        flex-direction: column;
    }
}
